.svgbox {
  margin-left: 2%;
  margin-right: 2%;
  width: 50%;
}

#graphics{
  display: flex;
  text-align: center;

  #fillgauge1 {
    margin:2%;
    display: flex;
    justify-content: center;
  }

  #fillgauge2 {
    margin: 2%;
    display: flex;
    justify-content: center;
  }
}
#textbox {
  margin: 20vh 20vh 5vh 20vh;
  text-align: justify;
}

#source {
  font-size: 0.8em;
}

.button--right{
  .bttn__wrapper{
    margin-left: 75%;
  .bttn{
    width: 230px;
  }
}
}
