.svgbox {
  margin-left: 2%;
  margin-right: 2%;
  width: 50%;
}

#graphics{
  display: flex;
  text-align: center;

  #fillgauge1 {
    margin:2%;
    display: flex;
    justify-content: center;
  }

  #fillgauge2 {
    margin: 2%;
    display: flex;
    justify-content: center;
  }
}
#textbox {
  margin: 10% 10% 5% 10%;
  text-align: justify;
}

#source {
  font-size: 0.8em;
}

.button--right{
  .bttn__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10%;
    .bttn{
      width: 230px;
    }
  }
}

.checkform {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
