.wrapper {
  width: 50%;
  height: 450px;
  position: absolute;
  left: 50%;
  top:100%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: linear-gradient(to top, $primaryblue 0%, #e7f0fd 100%);
  overflow: hidden;
  z-index: -1;
}

.wave {
  width: 1000px;
  height: 1025px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: $primarygrey;
  animation: wave 15s infinite linear;
}

@keyframes wave {
  from { transform: rotate(0deg);}
  from { transform: rotate(360deg);}
}