#map__environment {
  height:80vh;
  display: flex;
  justify-content: center;
  color: red;
}

#map {
  width: 95%; 
  height: 95%;
}

.button--middle {
  display: flex;
  justify-content: center;
}

