.list {
  color: $primaryblue;
  span {
    color:black;
  }
}

.tipps {
  display: flex;
  flex-direction: column;
  padding: 10%;
  #personal_tipps p{
    margin: 0;
    padding-bottom: 1.2%;
  }
  .links {
    li {
      padding-bottom: 1.2%;
    }
    a{
      font-family: 'Barlow', sans-serif;
      font-weight: 300;
      font-style: italic;
      text-decoration: none;
      color: $primaryblue;
    }
    a:hover {
      font-family: 'Barlow', sans-serif;
      font-weight: 500;
      font-style: italic;
      color: $secondaryblue;
    }
}
}


