@import "http://fonts.googleapis.com/css?family=Raleway";
body {
  margin: 0;
  padding: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

html, body, button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.hidden {
  display: none !important;
  visibility: hidden; }

html {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.1em;
  color: #312F30;
  background-color: #E7E7E7; }

h1 {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 2.3em;
  color: #115876; }

h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  color: #115876;
  padding-top: 1.2em; }

h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 1.1em; }

.light {
  font-family: 'Barlow', sans-serif;
  font-weight: 300; }

.light--italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-style: italic; }

.medium {
  font-family: 'Barlow', sans-serif;
  font-weight: 500; }

.medium--italic {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-style: italic; }

.black {
  font-family: 'Barlow', sans-serif;
  font-weight: 900; }

.headline1 {
  font-size: 2.3em; }

.headline2 {
  font-size: 1.8em; }

.paragraph {
  font-size: 1.1em; }

.bttn__wrapper {
  margin-bottom: 30px; }

a.bttn {
  color: #115876;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all; }
  a.bttn:hover {
    color: #E7E7E7; }
  a.bttn:focus {
    color: #E7E7E7; }

.bttn {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  padding: 14px 0px;
  border: 3px solid #115876;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); }
  .bttn:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #115876;
    z-index: -2; }
  .bttn:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; }
  .bttn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; }

nav {
  display: flex;
  height: 4em;
  flex-direction: row;
  justify-content: space-between;
  background-color: #115876;
  margin-bottom: 2em; }
  nav img {
    max-width: 100%;
    max-height: 50%;
    margin: 0.8em 0 0 1em; }
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0; }
  nav li {
    padding-top: 1.2em;
    margin-right: 1.5em; }
    nav li a {
      text-decoration: none;
      color: #FDFDFD; }
      nav li a:hover {
        font-weight: 900; }

#graphics {
  display: flex;
  text-align: center; }

#textbox {
  margin: 10vh; }

.button--right .bttn__wrapper {
  margin-left: 75%; }
  .button--right .bttn__wrapper .bttn {
    width: 230px; }

.list {
  color: #115876; }
  .list span {
    color: black; }

.tipps {
  margin-left: 40vh;
  display: flex;
  flex-direction: column; }

#links li {
  margin-bottom: 5vh; }

#links a {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  color: #115876; }

#links a:hover {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-style: italic;
  color: #47A8D2; }

#map__environment {
  height: 80vh;
  display: flex;
  justify-content: center; }

#map {
  width: 95%;
  height: 95%; }

.button--middle {
  display: flex;
  justify-content: center; }

/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#abc {
  width: 100%;
  height: 100%;
  opacity: .95;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: #313131;
  overflow: auto; }

img#close {
  height: 30px;
  width: 30px;
  position: absolute;
  right: -14px;
  top: -14px;
  cursor: pointer; }

div#popupContact {
  position: absolute;
  left: 50%;
  top: 17%;
  margin-left: -202px;
  font-family: 'Raleway',sans-serif; }

form {
  max-width: 300px;
  min-width: 250px;
  padding: 10px 50px;
  border: 2px solid gray;
  border-radius: 10px;
  font-family: raleway;
  background-color: #fff; }

p {
  margin-top: 30px; }

h2 {
  padding: 20px 35px;
  margin: -10px -50px;
  text-align: center;
  border-radius: 10px 10px 0 0; }

hr {
  margin: 10px -50px;
  border: 0;
  border-top: 1px solid #ccc; }

input[type=text] {
  width: 82%;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #ccc;
  padding-left: 40px;
  font-size: 16px;
  font-family: raleway; }

#name {
  background-image: url(../images/name.jpg);
  background-repeat: no-repeat;
  background-position: 5px 7px; }

#email {
  background-image: url(../images/email.png);
  background-repeat: no-repeat;
  background-position: 5px 7px; }

textarea {
  background-image: url(../images/msg.png);
  background-repeat: no-repeat;
  background-position: 5px 7px;
  width: 82%;
  height: 95px;
  padding: 10px;
  resize: none;
  margin-top: 30px;
  border: 1px solid #ccc;
  padding-left: 40px;
  font-size: 16px;
  font-family: raleway;
  margin-bottom: 30px; }

#submit {
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: block;
  background-color: #FFBC00;
  color: #fff;
  border: 1px solid #FFCB00;
  padding: 10px 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px; }

span {
  color: red;
  font-weight: 700; }

button {
  width: 10%;
  height: 45px;
  border-radius: 3px;
  background-color: #cd853f;
  color: #fff;
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  cursor: pointer; }
